<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Film</title>
</head>
<body>
<div>
	<input type="text" id="txt1" placeholder="Название фильма"> <br><br>
	<textarea id="txt2" cols="30" rows="10"></textarea> <br><br>
	<input type="text" id="num" placeholder="Рейтинг"> <br><br>
	<input type="submit" id="sbm">
</div>
<div>
	<h1>Последний загруженный фильм</h1>
	<p>Название</p>
	<h2><span id="load_title"> </span></h2>
	<p>Описание</p>
	<h2><span id="load_des"> </span></h2>
	<p>Рейтинг</p>
	<h2><span id="load_rating"> </span></h2>
	<p>Дата релиза</p>
	<h2><span id="load_release"> </span></h2>
	<p>Жанры</p>
	<h2><span id="load_genres"> </span></h2>
</div>

	<script>
		function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

		let send_data = document.getElementById('sbm');
        send_data.addEventListener('click', function (){
            console.log('Начало')
			let title = document.getElementById('txt1').value;
			let description = document.getElementById('txt2').value;
			let rating = document.getElementById('num').value;
            let release_date = document.getElementById('release_date').value;
			const url = 'http://127.0.0.1:8000/api/movies/';
            let headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            };
            let body = {
				'title': title,
	            'description': description,
	            'rating': rating,
	            'release_date': release_date
            };
            let options = {
                method: 'POST',
	            headers: headers,
	            body: JSON.stringify(body)
            };
            fetch(url, options).then(
                response => {
                    if (response.ok){
                        alert('Фильм в базе данных');
                    }
                }
            )
        });
        window.addEventListener('load', function () {
              const url = 'http://127.0.0.1:8000/api/movies/';
              let headers = {
                  'Content-Type': 'application/json'
              }
              let option = {
                  method: 'GET',
                  headers: headers
              };
              fetch(url, option)
                  .then(response => response.json())
                  .then(result => {
                      console.log(result)
	                  document.getElementById('load_title').innerText = result[result.length - 1].title
	                  document.getElementById('load_des').innerText = result[result.length - 1].description
	                  document.getElementById('load_rating').innerText = result[result.length - 1].rating
	                  document.getElementById('load_release').innerText = result[result.length - 1].release_date
                  })
          })
	</script>
</body>
</html>